<div class="container">
  <div class="row">
      <div class="col-md-6">
          <div class="card mb-4 border-0 bg-primary text-white">
              <div class="card-body">
                  <h5 class="card-title">Angular</h5>
                  <p class="card-text">Angular es un framework de desarrollo web basado en TypeScript. Permite crear aplicaciones web robustas y escalables.</p>
                  <a href="https://angular.dev/" class="btn btn-light">Ver más</a>
              </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="card mb-4 border-0 bg-secondary text-white">
              <div class="card-body">
                  <h5 class="card-title">APIs</h5>
                  <p class="card-text">Las APIs (Interfaces de Programación de Aplicaciones) permiten la comunicación entre diferentes aplicaciones y servicios.</p>
                  <a href="https://www.xataka.com/basics/api-que-sirve" class="btn btn-light">Ver más</a>
              </div>
          </div>
      </div>
  </div>
</div>
